body {
    margin: auto 0;
    background-color: darkgreen;
}

header {
    width: 100%;
    font-family: 'Righteous', cursive;
}

#h1 {
    display: inline-block;
    background-color: darkgreen;
    padding: 10px;
    font-size: 28px;
    width: 208px;
    margin-left: 65px;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    color: lemonchiffon;
}

li {
    float: right;
    padding: 15px;
    background-color: darkgreen;
    color: lemonchiffon;
    margin-left: 10px;
    margin-right: 20px;
}

ul {
    margin-top: 33px;
}

#main {
    margin-left: -71px;
    margin-right: 10px;
    margin-top: 180px;
}

#sidebar {
    float: left;
    width: 400px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 40px;
    background-color: slategrey;
    clear: both;
}

#container1 {
    margin-top: 200px;
    margin-bottom: 120px;
}

#h2 {
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
    color: lemonchiffon;
    background-color: darkgreen;
    width: 183px;
    padding: 12px;
}

#headshot {
    float: left;
    margin-right: 20px;
}

#h3 {
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
    color: lemonchiffon;
    background-color: darkgreen;
    width: 270px;
    padding: 18px;
}

.panel-body {
    padding: 15px;
    background-color: lemonchiffon;
    color: darkgreen;
    font-family: 'Righteous', cursive;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: lemonchiffon;
}

#connect {
    margin-top: 200px;
}



#portfolioBox {
    margin-top: 200px;
    margin-bottom: 120px;
}

#caption span {
    background-color: darkgreen;
    position: absolute;
    bottom: 0 auto;
    color: lemonchiffon;
}

.icons img {
    float: left;
    width: 30%;
}

@media screen and (max-width: 645px) {
    #navIcons {
        width: 100%;
        float: left;
        align-content: center;
    }
}

@media screen and (max-width: 400px) {
    #navIcons {
    width: 100%;
    float: left;
    align-content: center;
    margin-bottom: -22px;
    margin-top: -18px;
    margin-left: -105px;
    }
}
